body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.show{
    display: block;
}

nav{
    padding: 3%;
    margin-bottom: 7%;
}


.main{
    margin-top: 6%;
    width: 55%;
    margin: 0 auto;
}

.main h1{
    margin-bottom: 5%;
}

.check-btn{
    width: 100%;
    margin-bottom: 4%;
}

.greeting{
    margin-top: 5%;
    margin-bottom: 8%;
    padding-top: 3%;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

@media screen and (max-width: 768px) {
    .main h1{
        font-size: 1.7rem;
    }
}